/* Tambahkan kode CSS kalian di file ini */

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #F9FBFD;
  overflow-x: hidden;
  margin: 0; 
  padding: 0;
   }
   
   nav {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -10px;
     padding-top: px;
     background-color: #F9FBFD;
     position: fixed;  
     z-index: 100;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); 
     height: 70px;
   }

   .navwrapper {
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
   }

   .leftnav {
    display: flex;
    align-items: center;
    gap: 64px;
   }
   
   .logo {
    padding-left: 20px;
   }

   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
   }
   
   li {
     display: inline-block;
     margin-right: 10px;
   }
   
   li a {
     text-decoration: none;
     color: #146C94;
     padding: 5px;
     gap: 32px;
   }
   
   li a:hover {
     color: #afd3e2;
     border-radius: 4px;
    
   }
   
   nav ul li a.active {
     background-color: #afd3e2;
     border-radius: 3px;
   }
   
   .rightnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
   }

   .button-sign{
    display: flex;
    height: 46px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    background-color: #19A7CE;
    color: #FFF;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
   }

   .button-sign:hover,
   .button-primary:hover,
   #submit-form:hover {
    background-color: #2980b9; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
    transform: scale(1.1);
    border-radius: 12px;
   }

   .content {
    display: flex;
    height: 673px;
    padding: 50px 0px 64px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
   }

   .content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    align-self: stretch;
    color: #19A7CE;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 93.75% */
    letter-spacing: -0.64px;
   }
   
   .center-navbar{
     align-items: center;
     justify-content: center;
     display: flex;
   }
      
   

   .content-container {
    display: flex;
    width: 100%;
    height: 656px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 10px;  
    padding-top: 60px;
    width: 100%; 
   }

   .content-containers {
    display: flex;
    align-items: flex-start;  
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 10px;  
    width: 100%;
   }
  
   .lefty {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   }

   .lefty-image {
    width: 60%;
    height: 691px;

   }

    .righty-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 739px;
  }

   .righty {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
   }

   

   .content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
   }

   .content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
   }

   .paragraf {
    width: 517px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   }

   .upper {
    display: flex;
    width: 503px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
   }

   .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 2px;
   }

   .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-bottom: -50px;
   }
   
   .title-first {
    width: 178px;
    color: #146C94;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -40px;
    animation: bounces 2s infinite;
   }
   
   .title-second {
    width: 192px;
    color: #19A7CE;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
   }



   .lower {
    display: flex;
    width: 503px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
   }

   .cta-logo {
    display: flex;
    padding: 3px 4px;
    align-items: flex-start;
    gap: 32px;
    transition: transform 0.3s ease;
   }

   .cta-logo a:hover svg {
    transform: scale(1.1); /* Mengubah skala ikon saat dihover */
    animation: bounce 0.5s ease infinite alternate; /* Animasi memantul */
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes bounces {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

   .hai {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #19A7CE;
   }

   .subhai {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #19A7CE;
    margin-top: -10px;
   }

   .inside-content {
    display: flex;
    width: 1280px;
    height: 600px;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
   }
   
   .image-content {
     width: 70%;
     align-items: center;
   }
   
   .button-container button {
    display: flex;
    width: 113px;
    height: 44px;
    padding: 4px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid  #19A7CE;
    background-color:  #19A7CE;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color:  #F6F1F1;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    cursor: pointer;
   }

   .button-container {
    display: flex;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
   }

   .button-primary {
    text-decoration: none;
    display: flex;
    height: 46px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    border-radius: 12px;
    background-color: #19A7CE;
    color: #FFF;
   }

   .last-container {
    display: flex;
    height: 593px;
    padding: 50px 0px 64px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    align-self: stretch;
   }

   .block-header {
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

   }

   .text-heading {
    color: #19A7CE;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 93.75% */
    letter-spacing: -0.64px;
   }

   .form-container {
    display: flex;
    height: 495px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    flex-shrink: 0;
    align-self: stretch;
   }

   .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    align-self: stretch;
   }

   .form-wrapper input {
    display: flex;
    width: 1032px;
    padding: 4px 12px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--neutral-5, #D9D9D9);
    background: var(--neutral-1, #FFF);
   }

   .form-footer {
    align-items: center;
    text-align: center;
    justify-content: center;
   }


   .form-title {
    color: #19A7CE;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
   }

   .subtext-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.64px;
   }

   .container-card {
    display: flex;
    padding: 0px 112px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
   }
   .card {
    width: 264px;
    height: 292px;
    flex-shrink: 0;
    padding: 29.68px 27.87px 21.32px 28.65px ;
    border-radius: 46px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    background-color: #F6F1F1;
    backdrop-filter: blur(6.800000190734863px);
   }

   .content-card {
    display: flex;
    height: 241px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    flex-shrink: 0;
    align-self: stretch;

   }
   
   .card-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
   }

   .paragraf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    align-self: stretch;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.32px;
   }

   .card-title {
    color: #19A7CE;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 93.75% */
    letter-spacing: -0.64px;
   }

   .wrapper-card {
    display: flex;
    align-items: flex-start;
    gap: 48px;
   }

   footer {
    display: flex;
    width: 100%;
    height: 170px;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .footer-container {
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
   }
   
   .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
   }

   .header-logo {
    width: 253px;
    height: 60px;
   }

   .logo-wrapper {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
   }

   .header-logo p {
    color: #146C94;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }

   .footer-container p {
    width: 751px;
    color: #146C94;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
   }

   .copyright-footer {
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border-top: 1px solid #D1D9E2;
   }
   .copyright-text p {
    color: #AFD3E2;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    text-align: center; 
   }
   
   .animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
  }

  #warning {
    color: red;
  }
  
  
   
   
   
   
   
   
   